---
- name: Check installed OpenVPN
  ansible.builtin.stat:
    path: /etc/openvpn/server.conf
  register: openvpn_installed

- name: Download OpenVPN install script
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/angristan/openvpn-install/master/openvpn-install.sh
    dest: /root/openvpn-install.sh
    mode: '0755'
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_id }}"
  when: not openvpn_installed.stat.exists

- name: Install OpenVPN
  ansible.builtin.command: "/root/openvpn-install.sh"
  when: not openvpn_installed.stat.exists
  changed_when: false
  environment:
    AUTO_INSTALL: "y"
    APPROVE_INSTALL: "y"
    APPROVE_IP: "y"
    IPV6_SUPPORT: "n"
    PORT_CHOICE: "2"
    PROTOCOL_CHOICE: "1"
    PASS: "1"
    PORT: "{{ openvpn_port }}"
    ENDPOINT: "{{ ansible_host }}"

- name: Update OpenVPN installation status
  ansible.builtin.stat:
    path: /etc/openvpn/server.conf
  register: openvpn_installed

- name: Generate OpenVPN configs with expect
  ansible.builtin.expect:
    command: /root/openvpn-install.sh
    responses:
      "Select an option \\[1-4\\]:": "1"
      "Client name:": "{{ item }}"
      "Select an option \\[1-2\\]:": ""
    timeout: 10
  loop: "{{ openvpn_clients }}"
  when: openvpn_installed.stat.exists

- name: Check configs directory
  ansible.builtin.file:
    path: "{{ openvpn_config_dir }}"
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: '0755'

- name: Copy all configs to nginx directory
  ansible.builtin.copy:
    src: "/home/{{ ansible_user }}/{{ item }}.ovpn"
    dest: "{{ openvpn_config_dir }}/{{ item }}.ovpn"
    remote_src: true
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: '0644'
  loop: "{{ openvpn_clients }}"
